<link rel="import" href="berp-steps.html">
<link rel="import" href="../bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/slide-up.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/scale-up.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/tile-cascade.html">

<polymer-element name="berp-app" attributes="cartObj">
	<template>
		<link rel="stylesheet" type="text/css" href="berp-app.css">
		 <core-animated-pages selected="{{selected}}" transitions="cross-fade cross-fade-delayed scale-up slide-up slide-up-offscreen slide-down tile-cascade hero-transition" flex auto>
			<berp-steps name="steps"></berp-steps>
			<div name="splash">
				<span fit cross-fade>hello</span>
			</div>
		</core-animated-pages>
	</template>
	<script>

// (function() {

	// window.setTopekaTransitionSpeed = function(ms) {
	//   CoreStyle.g.transitions.duration = ms + 'ms';
	//   CoreStyle.g.transitions.scaleDelay = CoreStyle.g.transitions.duration;  
	// }

	// setTopekaTransitionSpeed(350);

	Polymer('berp-app', {

		selected: 'steps',

		minSplashTime: 1000,

		ready: function() {
			console.log("here");
		}
	});
// })();
</script>
</polymer-element>
