 :host {
    display: block;
    position: relative;
    padding: 20px;
    margin:auto;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom:60px;
    margin-bottom:10px;
    }
.card {
    background-color: white;
    padding: 20px 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
}
.header {
      font-size: 1.5em;
      color: #00BCD4;
      font-weight: lighter;
    }
    .header.spaced {
      margin-top: 16px;
    }
    paper-input {
      max-width: 20em;
      width: auto;
    }

    paper-fab {
  position: absolute;
  bottom: 30px;
  right: 10px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
 paper-fab[showing] {
  -webkit-transform: none;
  transform: none;
}

paper-fab[disabled] {
  pointer-events: none;
}
#container {
  margin: 0 40px;
}
paper-fab.green {
  background: #259b24;
}