core-toolbar {
	background-color: #03A9F4;
}
paper-icon-button{
	color:white;
}
core-header-panel {
	background: #DBDBDB;
 	/*height:100%;*/
/*overflow: auto; */
	-webkit-overflow-scrolling: touch;
}
.content {
	margin-bottom:70px;
	/*padding-bottom:50px;*/
}
.step {
	padding:15px;
	background-color: #fff;
	font-size:20px;
	font-weight:700;
	color:#5e5e5e
}
