<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/slide-up.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/scale-up.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/tile-cascade.html">

<link rel="import" href="product-loop.html">
<link rel="import" href="cart-total.html">
<link rel="import" href="berp-form.html">

<polymer-element name="berp-steps" attributes="cartObj">
	<template>
		<style>
			:host { 
				height: 100%; 
			} 
			core-header-panel {
				height: 100%; 
			}
</style>
		<link rel="stylesheet" type="text/css" href="berp-steps.css">
		<!-- <core-header-panel> -->
			<core-toolbar>
				<paper-icon-button id="navicon" icon="arrow-back" on-tap="{{changeSelected}}"></paper-icon-button>
				<span flex><img height="55px" src="../images/belly-logo-smaller.png"></span>
				<paper-icon-button id="searchbutton" icon="search"></paper-icon-button>
			</core-toolbar>
			<div class="core-header step" horizontal layout center center-justified slide-down>
				1) What are you thirsty for?
			</div>
			<core-animated-pages selected="{{selected}}" transitions="cross-fade cross-fade-delayed scale-up slide-up slide-up-offscreen slide-down tile-cascade hero-transition" flex auto>
			<div class="content" name="product-loop">
				<product-loop cartObj="{{cartObj}}" slide-up></product-loop>
			</div>
			<div class="content" name="berp-form">
				<berp-form name="berp-form" slide-up></berp-form>
			</div>
			</core-animated-pages>
			<footer>
				<cart-total cartObj="{{cartObj}}" stepName="{{selected}}" success="{{success}}"></cart-total>
			</footer>
		<!-- </core-header-panel> -->
	</template>
	<script>
	Polymer('berp-steps', {
		selected: 'product-loop',
		changeSelected: function(){
			this.selected = "product-loop";
		}
	});
	</script>
</polymer-element>
