<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">

<polymer-element name="berp-form" attributes="cartObj">
    <template>

	<link rel="stylesheet" type="text/css" href="berp-form.css">
	<div class="card">
		<div class="indent" layout vertical>
			<div class="header">Personal Info</div>
			<paper-input id="first" on-keyup="{{updateCart}}" willvalidate label="First Name" value="{{cartObj.nameFirst}}" taborder="2"></paper-input>
			<paper-input id="last" id="nameLast" on-keyup="{{updateCart}}" willvalidate label="Last Initial" value="{{cartObj.nameLast}}" taborder="2"></paper-input>
			<paper-input id="phone" on-keyup="{{updateCart}}" error="That's not a phone number silly..." label="Phone Number" pattern="[0-9.\(\)\-]+" id="paper_input" layout vertical value="{{cartObj.phone}}"></paper-input taborder="3">
			<div class="header spaced">Location</div>
			<paper-input id="location" id="location" on-keyup="{{updateCart}}" validationmessage="Please fill out this field." multiline label="Tell us where you are" value="{{cartObj.location}}" autofocus taborder="1"></paper-input>
			<span style="font-size:16px"><i>Example:</i> "I'm laying on a blanket on the north west side of the quad."</span>
			<paper-fab icon="done" showing?="{{true}}" class="check-button green"></paper-fab>
		</div>
	</div>
</template>
<script>
Polymer('berp-form',{
	updateCart: function(){
		this.cartObj.phone = this.$.phone.inputValue;
		if (this.$.phone.className == 'invalid'){
			this.cartObj.phone = null;
		}
	}
});
</script>

</polymer-element>
