:host {
	position: fixed;
	bottom: 0;
	width: 100%;
	height:60px;
	background-color:white;
	border-top:4px solid #F6F6F6;
}
paper-fab {
	position: absolute;
	bottom: 30px;
	right: 10px;
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
 paper-fab[showing] {
	-webkit-transform: none;
	transform: none;
}
paper-fab[disabled] {
	pointer-events: none;
}
#container {
	margin: 0 40px;
}
paper-fab.green {
	background: #259b24;
}
paper-fab.yellow {
	background: #FFCC00;
}
