<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">

<polymer-element name="cart-total" attributes="cartObj name stepName success" vertical layout>
	<template>
		<link rel="stylesheet" type="text/css" href="cart-total.css">
		<div id="container" fullbleed vertical layout center>
			<div flex>
				<h2 style="margin-top:8px">TOTAL: &nbsp;<span style="color:green;font-size:32px">${{cartObj.total}}</span></h2>
			</div>
			<div>
				<paper-fab on-tap="{{changePage}}"  showing?="{{cartObj.total != 0 && stepName == 'product-loop'}}" icon="arrow-forward" class="yellow"></paper-fab>
			</div>
		</div>
	</template>
	<script>
		Polymer('cart-total',{
			answered: true,
			changePage: function(){
				if (this.stepName == "product-loop"){
					this.stepName = "berp-form";
					console.log(this.stepName);
				}
				else if(this.page == 1){
					this.page = 2;
					this.success = 1;
				}
			}
		});
  	</script>
</polymer-element>