:host {
/*background-color: red;*/
}
product-view {
    margin-top:10px;
    margin-bottom: 10px;
}
.card {
    background-color: white;
    padding: 20px 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
}