<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="api-test.html">
<link rel="import" href="product-view.html">

<polymer-element name="product-loop" attributes="cartObj" vertical layout>
	<template>
		<link rel="stylesheet" type="text/css" href="product-loop.css">
		<api-test posts="{{posts}}"></api-test>
		<div vertical layout center on-tap="{{addTapped}}">
			<template repeat="{{post in posts}}">
				<product-view class="card" price="{{post.price}}" id="{{post.id}}" total="{{total}}" name="{{post.name}}" cart="{{cartObj}}" color="{{post.color}}" image="{{post.image}}">
				</product-view>
			</template>
		</div>
	</template>
	<script>
	Polymer('product-loop',{
	});
	</script>
</polymer-element>
