<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">

<polymer-element name="product-view" attributes="color price total name cart image">
	<template>
		<link rel="stylesheet" type="text/css" href="product-view.css">
		<div horizontal layout>
			<div id="qty">
				{{cart.items[id].qty}}
			</div>
			<div class="button-container" id="product" vertical layout center-justified flex >
				<div class="button" horizontal layout center center-justified>
					 <paper-icon-button on-holdpulse="{{removeTapped}}" on-tap="{{removeTapped}}" icon="remove-circle-outline"></paper-icon-button>
				</div>
			</div>
			<div vertical layout center center-justified>
				<img src="{{image}}" style="height:150px">
				<div id="price">${{price}}</div>
				<div id="product-description">{{name}}</div>
			</div>
			<div class="button-container" id="product" vertical layout center-justified flex >
				<div  class="button" horizontal layout center center-justified>
				   <paper-icon-button on-holdpulse="{{addTapped}}" on-tap="{{addTapped}}" icon="add-circle-outline"></paper-icon-button>
				</div>
			</div>
		</div>
	</template>
	<script>
	Polymer('product-view', {
		created: function() {
			this.cart = {
				items: {},
				total: 0,
			}
		},
		ready: function(event, detail, sender) {
			this.cart.items[this.id] = {qty: 0};
		},
		addTapped: function(event, detail, sender) {
			this.cart.total += this.price;
			this.cart.items[this.id] = typeof this.cart.items[this.id] == "undefined" ? {qty: 1} : {qty: this.cart.items[this.id].qty + 1};
		},
		removeTapped: function(event, detail, sender) {
			if(this.cart.items[this.id].qty != 0)
				this.cart.total -= this.price;
			if(this.cart.items[this.id].qty > 0)
				this.cart.items[this.id] = {qty: this.cart.items[this.id].qty - 1};
		}
	});
	</script>
</polymer-element>
