:host {
    display: block;
    position: relative;
    background-color: {{color}};
    margin-top:20px;
    padding: 20px;
    width: 80%;
    margin:auto;
    font-size: 1.2rem;
    font-weight: 300;
}
.card-header {
    margin-bottom: 10px;
    width:100%;
    margin:auto;
}
polyfill-next-selector { content: '.card-header h2'; }.card-header ::content h2 {
    margin: auto;
    font-size: 1.8rem;
    font-weight: 300;
}
polyfill-next-selector { content: '.card-header img'; }
.card-header ::content img {
    width:70px;
    border-radius: 50%;
    margin: 10px;
}
polyfill-next-selector { content: '.card-price #ratings'; }
.card-price ::content #ratings {
    width:70px;
    border-radius: 50%;
    margin: 10px;
}
#quantity {
    position: absolute;
    top: 3px;
    right: 3px;
    color: #636363;
}
:host([favorite]) core-icon-button {
    color: #da4336;
}
#ratings {
    width:100%
}

.button-container{
    position:relative;
}
.button {
    height:80px;
    width:100%;
    position:relative
}
paper-icon-button::shadow core-icon {
    height: 40px;
     width: 40px;
}
#price {
    color:green;font-size:40px;font-style:italic;font-weight:700
}
#qty {
	position: absolute;
	top: 3px;
	right: 3px;
	color: #fff;
	border: 0;
	text-align: center;
	border-radius: 50px;
	-webkit-user-select: none;
	user-select: none;
	cursor: auto;
	background: #03A9F4;
	padding:5px 10px 5px 10px;
}